/* Footer */

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;

    .icons{

        .fab{
            color: black;
            margin: 0 13px;
            padding: 18px 0;
            cursor: pointer;
        }
    }
}