*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}


/** Header **/

.header{
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(113, 138, 197, 0.219),rgba(113, 138, 197, 0.226)),url(../images/principalManos.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: black;
	text-decoration: none;
	font-size: 15px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: black;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.cajaTexto{
	width: 90%;
	color: #030303;
	position: absolute;
	top: 60%;
	left: 50%;
    transform: translate(-50%,-50%);
	text-align: center;
}

.cajaTexto h1{
	font-size: 60px;
}

.cajaTexto p{
	margin: 10px 0 40px;
	font-size: 16px;
	color: #030303;
}

.cajaTexto-btn{
	display: inline-block;
	text-decoration: none;
    background: #1A1919;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	position: relative;
	text-transform: uppercase;
}

nav .fa{
	display: none;
}

@media(max-width: 700px){
	.cajaTexto h1{
		font-size: 28px;
	}
	.nav-links ul li{
		display: block;
		text-align: center;
	}
	.nav-links{
		position: absolute;
		background: #2f4b6e;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: black;
		margin: 10px;
		font-size: 22px;
	}
	.nav-links ul{
		padding: 30px;
	}

}


/* Servicios Index*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #030303;
    margin-bottom: 40px;
    padding-bottom: 10px;   
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.img-servicio{
    height: 400px;
    width: auto;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 40px;
}

.n-service{
    text-align: left;
    margin-bottom: 7px;
    color: #030303;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

@media(max-width: 700px){
	.contenedor-servicio{
		display: block;
		text-align: center;
	}
	.checklist-servicio{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.service h3{
		text-align: center;
	}
}


/* principios Index*/

.principios{
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 40px 0px;
}

h1{
	color: black;
	font-size: 36px;
	font-weight: 600;
	margin-top: 60px;
}

p{
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.principios-col{  
	flex-basis: 31%;
	background: rgba(51, 104, 238, 0.219);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}

h3{
	color: black;
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}


/* Nosotros Index*/

.nosotros{
    width: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom:  50px;
}

.nosotros-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.nosotros-col img{
    width: 100%;
}

.nosotros-col h2{
    padding-top: 0;
}

.nosotros-col p{
    padding: 15px 0 25px;
}


/* Call to action */

.cta{
    margin: 80px auto;
    width: 80%;
    background-image: url(../images/cta2.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h2{
    color: #030303;
    margin-bottom: 40px;
}

@media(max-width: 700px){
	.cta h2{
		font-size: 20px;
	}
}

/* Footer */

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

.icons .fab{
	color: black;
	margin: 0 13px;
	padding: 18px 0;
}


/* Sub-Header */

.sub-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(231, 234, 241, 0.253),rgba(199, 211, 240, 0.274)),url(../images/principalManos.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #030303;
}

.sub-header h1{
	margin-top: 100px;
}


/* Servicios */

.servicios{
    width: 80%;
    margin: auto;
	padding-top: 40px;
}

.servicios-col{
    flex-basis: 48%;
    padding: 25px 2px;
}

.servicios-col img{
    width: 100%;
}

.servicios-col h2{
    padding-top: 0;
}

.servicios-col p{
    padding: 15px 0 25px;
}

/* Comunidad */

.comunidad{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 60px;
}

.comunidad-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}

.comunidad-col img{
	width: 100%;
	border-radius: 10px;
}

.comunidad-col p{
	padding: 0;
	text-align: center;
}

.comunidad-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
}

/* Testimonios */

.testimonios{
	width: 80%;
	margin: auto;
	padding-top: 70px;
	text-align: center;
}

.testimonios-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff3f3;
	padding: 25px;
	display: flex;
}

.testimonios-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}

.testimonios-col p{
	padding: 0;
}

.testimonios-col h3{
	margin-top: 15px;
	text-align: left;
}

.testimonios-col .fa{
	color: #f44336
}

@media(max-width: 700px){
	.testimonios-col img{
		margin-left: 0px;
		margin-right: 15px;
	}
}


/* Servicios Bis Page */

.serviciosBis{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 60px;
}

.serviciosBis-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}

.serviciosBis-col img{
	width: 100%;
	border-radius: 10px;
}

.serviciosBis-col p{
	padding: 0;
	text-align: center;
}

.serviciosBis-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
}


/* Servicios Prueba de banner */

.container{
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 30px 0;
}

#services{
	background-color: #dcdcdc;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 10px;
	padding-bottom: 40px;
}

#services h1{
	text-align: center;
	color: #030303;
	padding-bottom: 10px;
	margin-top: 20px;
}

.services{
	margin-top: 40px;
}

.icon{
	font-size: 40px;
	margin: 20px auto;
	padding: 10px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}

#service p{
	font-size: 14px;
	margin-top: 20px;
	color: #030303;
}

.iconos{
	margin-top: 17px;
}

/* Nosotros Page */

.nosotrosPage{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 5px;
}

.nosotrosPage-col{
    flex-basis: 48%;
    padding: 20px 2px;
}

.nosotrosPage-col img{
    width: 100%;
}

.nosotrosPage-col p{
    padding: 15px 0 25px;
}

/* Form */

.commentBox{
	border: 1px solid #ccc;
	margin: 50px 0;
	margin-left: 5%;
	padding: 10px 20px;
	width: 50%;
}

.commentBox h3{
	text-align: left;
}

.commentForm input, .commentForm textarea{
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #f0f0f0;
}

@media(max-width: 700px){
	.sub-header h1{
		font-size: 24px;
	}
	.commentBox{
		width: 80%;
	}
}

